/* styles.css */
  
  #chart-container {
    text-align: center; /* Aligns content within the container */
    margin-top: -80px;
  }


 /* styles.css */

/* Update legend styles */
#legend {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white; /* Correct the syntax for border */
  border-radius: 10px;
  background-color: white;
  font-family: Arial, sans-serif;
  display: inline-block; /* Ensure the legend does not take full width */
  max-width: 300px; /* Set maximum width to prevent excessive length */
}

/* Style for legend color rectangles */
.legend-color rect {
  width: 12px; /* Decrease the width for smaller rectangles */
  height: 12px; /* Decrease the height for smaller rectangles */
  fill-opacity: 0.7;
  display: inline-block; /* Display rectangles inline */
  margin-right: 5px; /* Add spacing between rectangles */
}

/* Style for legend text */
.legend-color text {
  font-size: 12px; /* Reduce font size for better fit */
  fill: #333;
  display: inline-block; /* Display text inline */
  vertical-align: middle; /* Align text vertically with rectangles */
}




  /* Style the checkboxes container */
.checkboxes {
  display: flex;
  flex-direction: row; /* Display checkboxes in a row */
  flex-wrap: wrap; /* Allow wrapping to create two rows */
  text-align: right; /* Align checkboxes and dropdown to the right */
  margin-right: 15px;
}

/* Style individual checkboxes */
.checkboxes label {
  margin-bottom: 5px; /* Add space between rows */
  margin-right: 15px; /* Add space between checkboxes */
}

  

.dropdown {
  text-align: right;
  margin-top: -150px;
  margin-right: 20px;
}


 



  /* Apply specific styles to the slider SVG */
  #slider-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px; /* Adjust as needed */
    width: 100%; /* Ensure the container takes the full width */
  }
  #slider-time svg {
    border: none; /* Remove any border */
    margin: 0 auto;
    display: block;
    width: auto;
  }

  #slider-time {
    border: none; /* Remove any border */
  }

  .slider text {
    font-size: 12px;
    border: none;
  }
  
  .slider {
    cursor: pointer;
  }
  
  .parameter-value path {
    fill: #0f8243;
  }
  
  
  #play-button {
    background: #f08080;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: white;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    margin-left: 150px;
  }
  
  #play-button:hover {
    background-color: #696969;
  }

  #value-time {
    /* Other existing styles */
    width: auto; /* Increase width as needed to accommodate the entire date and time */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) for truncated content */
    border: none;
}
