/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #333; /* Navbar background color */
    color: #fff; /* Navbar text color */
    padding: 15px 20px;
    margin-bottom: 20px;
    
}

.navbar-brand {
    font-size: 1.5em;
    color: white;
}

.nav-link {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s;
}
.nav-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.custom-link {
    color: #f3f7ea; /* Change this color to the one you prefer */
    text-decoration: none; /* Remove underline */
    margin-top: 15px;
}
/* Chart container styles */
#stackedBarChart {
    width: 80%; /* Occupy full width */
    margin: 0 auto; /* Horizontally center within its parent container */
    margin-top: 30px
}

/* Page Header styles */
h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
}

