/* styles.css */

body {
  background-color: #ebe4e4;
}
  
#chart-container {
  text-align: center; /* Aligns content within the container */
  margin-left: 80px;
  margin-top: -400px;
}

p {
  font-size: 20px;
  color: #740960;
  font-weight: 30px;
  margin-bottom: 50px;
}

b {
  font-size: larger;
  margin-top: 25px;
}

#selected-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
  width: 100%; /* Ensure the container takes the full width */
}





/* Style the checkboxes container */
.checkboxes {
display: flex;
flex-direction: row; /* Display checkboxes in a row */
flex-wrap: wrap; /* Allow wrapping to create two rows */
text-align: right; /* Align checkboxes and dropdown to the right */
margin-right: 15px;

}

/* Style individual checkboxes */
.checkboxes label {
margin-bottom: 5px; /* Add space between rows */
margin-right: 15px; /* Add space between checkboxes */
}


/* style for 'Select All' checkbox */
.checkbox-container label {
font-weight: bolder;
margin-top: 20px;
margin-bottom: 30px;
margin-left: 15px;;
}

#dropdow-container {
margin-top: -10px;
  text-align: right;
  margin-right: 30px;
  
}
label[for="month-dropdown"] {
  font-weight: bolder;
  font-size: larger;
}
label[for="year-dropdown"] {
  font-weight: bolder;
  font-size: larger;

}
/* Style for the search button */
#search-button {
background-color: #2196f3; /* Change background color */
color: white; /* Text color */
border: none;
border-radius: 3px;
padding: 8px 15px; /* Adjust padding */
font-size: 16px; /* Adjust font size */
cursor: pointer;
transition: background-color 0.3s; /* Add a smooth transition for color change */
}

#search-button:hover {
background-color: #0f6ab4; /* Change background color on hover */
}

/* Style for the date input box */
#search-date {
padding: 8px; /* Adjust padding */
font-size: 16px; /* Adjust font size */
border: 1px solid #ccc; /* Add border */
border-radius: 5px; /* Add border radius */
}

/* Increase height of the date input box */
#search-date::-webkit-calendar-picker-indicator {
padding: 5px; /* Adjust padding */
height: 30px; /* Adjust height */
width: 30px; /* Adjust width */
color: #2196f3; /* Change color */
cursor: pointer;
}



/* Apply specific styles to the slider SVG */
#slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px; /* Adjust as needed */
  width: 100%; /* Ensure the container takes the full width */
}
#slider-container svg {
  border: none; /* Remove any border */
  margin: 0 auto;
  display: block;
  width: auto;
}

#slider-container {
  border: none; /* Remove any border */
}

.slider text {
  font-size: 12px;
  border: none;
}

.slider {
  cursor: pointer;
}

.parameter-value path {
  fill: #0f8243;
}


#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
  margin-left: 150px;
}

#play-button:hover {
  background-color: #696969;
}

#value-time {
  /* Other existing styles */
  width: auto; /* Increase width as needed to accommodate the entire date and time */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Show ellipsis (...) for truncated content */
  border: none;
}

/* CSS to style the summary table */
#summary-table-container {
margin-right: 50px;
}

.summary-table {
border-collapse: collapse;
width: 100%;
}

.summary-table th,
.summary-table td {
padding: 10px; /* Adjust the padding value as needed */
border: 1px solid #ddd; /* Adding border for better cell separation */
text-align: center;
}

.table-heading {
text-align: center; /* Center align the text */
}

.column-header {
color: #b60d97; /* Change to the color you prefer, e.g., red (#FF0000) */
}


  /* Center the table title */
  #statistics-table-container h2 {
    text-align: center;
  }

  /* Style the table */
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 16px;
    text-align: left;
  }

  .styled-table th,
  .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd1e;
  }

  .styled-table th {
    background-color: #f2f2f256;
  }

/* Add any additional styles here */
.tooltip {
  position: absolute;
  text-align: center;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
}
#dough-contain {
  text-align: left; /* Aligns content within the container */
  margin-left: 20px;
  margin-top: 100px;
}

.country-flag {
  width: 20px;
  height: 15px;
  margin-right: 5px;
}
#toggleButton{
  margin-left: 50px;
  margin-top: 15px;
  background-color: #e2a3d4;
}
#selected-date {
  font-size: xx-large, bold;
  font-size: larger;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
}
h1 {
  margin-bottom: 15px;
  color: rgb(83, 43, 43);
  margin-top: 10px;
}

h3 {
  margin-left: 500px;
  color: #590a4b;
}


#tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  visibility: hidden;
}
