@import url('https://fonts.googleapis.com/css?family=Lato');

/* Global Styles */
body {
    
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: black;
    padding-top: 20px;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

#stackedBarChart {
    margin: 0 auto !important; /* Horizontally center */
    width: 100%; /* Adjust the width as needed */
    /* Other styles you want to apply */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 1000px !important;
}

.Us-container{
    margin-top: 20px;
}    


p {
    font-size: 18px; /* Adjust the font size as needed */
    color: black;
}


.note {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 16px; /* Adjust the font size as needed */
}

.note i {
    margin-right: 10px; /* Add spacing between the icon and text */
    margin-top: -15px;
    color: red;
}

.note-text {
    display: flex;
    align-items: center;
    font-size: 16px; /* Adjust the font size as needed */
}

.note-text i {
    margin-right: 10px; /* Add spacing between the icon and text */
}



/* Navbar Styles */
.navbar {
    background-color: transparent; /* Set the background to transparent */
    box-shadow: none; /* Remove any box shadow */
}

.navbar-brand {
    font-size: 2em;
    color: rgb(106, 168, 248);
}

.nav-link {
    position: relative;
    font-size: 1.1em;
    color: blue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 80px;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s;
}
.nav-link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.custom-link {
    color: #f3f7ea; /* Change this color to the one you prefer */
    text-decoration: none; /* Remove underline */
    margin-top: 15px;
}

.fas {
    color: #007BFF;
}




/* Page Header Styles */
h1 {
    color: rgb(106, 168, 248);
    font-size: 40px;
    position: relative;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    align-items: center;
    
}

h3 {
   color: black; 
}    
    

.Us-container {
    margin-left: 50px;
    margin-right: 50px;
}
