<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Vaccinations Chart 2021-2023</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/aboutus">About Us</a>
            <a class="navbar-brand" href="/aboutapp">About App</a>
        </nav>
    </header>
    <!-- Container for the visualization -->
    <div id="stackedBarChart">
        <!-- Plotly chart will be displayed here -->
    </div>
    <!-- JavaScript to load the chart -->
    <script>
        function fetchAndDisplayStackedBarChart() {
            fetch('/get-stacked-bar-chart')
                .then(response => response.text())
                .then(html => {
                    document.getElementById('stackedBarChart').innerHTML = html;
                })
                .catch(error => console.error('Error:', error));
        }

        // Call fetchAndDisplayStackedBarChart on page load
        window.onload = fetchAndDisplayStackedBarChart;
    </script>


    
</body>
</html>
