<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <!-- Include Plotly JavaScript library -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <div id="choropleth-container"></div>

    <script>
        // Fetch choropleth data from the backend
        fetch('/get-choropleth-data')
            .then(response => response.json())
            .then(data => {
                // Create and render the choropleth map using Plotly
                const container = document.getElementById('choropleth-container');
                Plotly.newPlot(container, JSON.parse(data), {});
            })
            .catch(error => console.error('Error:', error));
    </script>
</body>

</html>
