<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stacked Bar Chart</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body onload="fetchAndDisplayTotalVaccinations()">
    <header>
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#">Stacked Bar Chart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutus">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="aboutapp">About App</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <label for="year">Select Year:</label>
                <select id="year" class="form-control">
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="month">Select Month:</label>
                <select id="month" class="form-control">
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                   
                </select>
            </div>
            <div class="col-md-4">
                <label>&nbsp;</label>
                <button onclick="updateStackedBarChart()" class="btn btn-primary btn-block">Update Chart</button>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div id="stackedBarChart"></div>
            </div>
        </div>
    </div>

     <script>
    function fetchAndDisplayTotalVaccinations() {
        fetch('/get-stacked-bar-chart')
            .then(response => response.json())
            .then(data => {
                Plotly.newPlot('stackedBarChart', JSON.parse(data));
            })
            .catch(error => console.error('Error:', error));
    }

    function updateStackedBarChart() {
        const selectedYear = document.getElementById('year').value;
        const selectedMonth = document.getElementById('month').value;

        const url = `/get-stacked-bar-chart?year=${selectedYear}&month=${selectedMonth}`;
        fetch(url)
            .then(response => response.json())
            .then(data => {
                Plotly.newPlot('stackedBarChart', data);
            })
            .catch(error => console.error('Error:', error));
    }
</script>
</body>
</html>
